@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');

:root {
    --color-white: aliceblue;
    --color-accent: #42b883;
    --color-accent-dark: #061a40;

    --color-bg-1: #7769dd;
    --color-bg-2: #201289;
    --color-bg-3: #5948d5;
    --color-bg-4: #3526a6;

    --color-bg-gradient: linear-gradient(-45deg, #7769dd, #201289, #5948d5, #3526a6) no-repeat fixed;

    --section-gap: 160px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-white);
    background: var(--color-bg-4);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
